.dv-screen {
  height: 100%;
  width: 100%;
  .canvas-panel {
    position: relative;
    .preview-box {
      position: absolute;
    }
  }
}

.dv-screen .bin-scrollbar__wrap {
  overflow-x: hidden;
}
