// 定义基本色系
$color-main = #171b22
$color-primary = #00baff
$color-blue = #1a8ae4
$color-text-primary = #ffffff
$color-text-info = #bcc9d4
$color-linear-gradient = #00baff

$color-admin-main = #222528
$color-admin-ctrl = #1b1f25
$color-admin-ctrl-header = #2e343c
$color-admin-options-dark = #0e1013
$color-admin-options-hover = #212631
$color-admin-options-bg = #1b1f25
$color-admin-canvas = #2a2e33

$color-admin-context-menu = #27343e
$color-admin-context-menu-color = #bcc9d4

//指示线
$color-navigator-line = #05ddff
